body {
    width: 80%;
    margin: 0 auto;
    font-family: 'Droid Serif', serif;
}

pre,code {
    font-family: 'Source Code Pro', monospace;
}

footer span.quote-who {
    text-transform: uppercase;
    padding-left: 1em;
}

span.index-ref-secondary::before {
    content: "\a    ";
    white-space: pre;
}
