body {
    width: 80%;
    margin: 0 auto;
    font-family: 'Droid Sans', serif;
}

pre,code {
    font-family: 'Source Code Pro', monospace;
}

dt,h3,h4,h5,h6 {
    font-style: italic;
}

blockquote.epigraph {
    padding-left: 60%;
}

.epigraph p {
    text-align: right;
}

.epigraph footer {
    font-style: italic;
    text-align: right;
}

.epigraph hr {
    margin-right: 0;
}

.epigraph footer span.quote-who {
    font-style: normal;
    font-variant: small-caps;
}

.epigraph footer span.quote-who::before {
    content: "\a";
    white-space: pre;
}

span.index-ref-secondary::before {
    content: "\a    ";
    white-space: pre;
}

span.callout {
    font-size: x-small;
    height: 1.2em;
    width: 1.2em;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    background: black;
    color: white;
}

a.cite {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    top: -0.5em;
}

div.biblography-item { }

span.biblography-id {
    margin-right: 1em;
}
