body {
    margin: 0 auto;
    font-family: 'Droid Sans', serif;
}

pre,code {
    font-family: 'Source Code Pro', monospace;
}

dt,h3,h4,h5,h6 {
    font-style: italic;
}

summary {
    /* font-weight: bold; */
}

.book {
    width: 50%;
    padding-left: 20%;
}

blockquote.epigraph {
    text-align: right;
}

.epigraph p {
    padding-left: 40%;
    text-align: right;
}

.epigraph footer {
    font-style: italic;
    text-align: right;
}

.epigraph hr {
    margin-right: 0;
    width: 50%;
}

.epigraph footer span.quote-who {
    font-style: normal;
    font-variant: small-caps;
}

.epigraph footer span.quote-who::before {
    content: "\a";
    white-space: pre;
}

span.index-ref-secondary::before {
    content: "\a    ";
    white-space: pre;
}

span.index-ref-secondary {
    padding-left: 2em;
}

span.index-ref-primary {
    font-style: italic;
}

span.index-ref-primary::before {
    content: "\a    ";
    white-space: pre;
}

span.callout {
    font-size: x-small;
    height: 1.2em;
    width: 1.2em;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    background: black;
    color: white;
}

a.cite {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    top: -0.5em;
}

ol.bibliography {
    counter-reset: cite;
    list-style-type: none;
}

li.bibliography:before {
    content: "[" counter(cite) "] ";
    counter-increment: cite;
}

ul.toc {
    list-style-type: none;
}

li.toc-h1 {
}

li.toc-h2 {
    padding-left: 1em;
    font-style: italic;
}
